div {
  border-radius: 40px;
  margin-right: 45px;
}

div h2 {
  font-weight: bolder;
}

div p {
  border-left: 10px palevioletred solid;
  border-right: 10px pink solid;
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
}
